<div class="card">

  <!-- SEGMENTO IZQUIERDO DE CARD -->

  <div class="card__left">

    <div class="item">

      <span class="material-symbols-outlined" [style.background-color]="data.myColor" [style.--color1]="data.myColor">
        {{data.svg}}
      </span>


    </div>

    <h3 class="item"> {{data.titulo}} </h3>

    <h1 class="item_principal"> {{data.temperatura || data.humedad || data.temperaturaIn || data.corriente || data.voltaje ||
      data.irradiacionPatron || data.irradiacionProto || data.irradiacionPanel}} <span>{{data.unidad}}</span></h1>

    <p class="item">Tiempo real</p>
  </div>

  <!-- SEGMENTO DERECHO DE CARD -->

  <div class="card__rigth">

    <svg

      [style.--dashoffset]="
      data.temperatura !== null && data.temperatura !== undefined ? calculateDashOffsetTemperatura(data.temperatura) :
      data.humedad !== null && data.humedad !== undefined ? calculateDashOffsetTemperatura(data.humedad) :
      data.temperaturaIn !== null && data.temperaturaIn !== undefined ? calculateDashOffsetTemperatura(data.temperaturaIn) :
      data.corriente !== null && data.corriente !== undefined ? calculateDashOffsetCorriente(data.corriente) :
      data.voltaje !== null && data.voltaje !== undefined ? calculateDashOffsetVoltaje(data.voltaje) :
      data.irradiacionPatron !== null && data.irradiacionPatron !== undefined ? calculateDashOffsetPatron(data.irradiacionPatron) :
      data.irradiacionProto !== null && data.irradiacionProto !== undefined ? calculateDashOffsetPatron(data.irradiacionProto) :
      data.irradiacionPanel !== null && data.irradiacionPanel !== undefined ? calculateDashOffsetPatron(data.irradiacionPanel) :
      ''"

      [ngStyle]="{'--color-progreso': data.myColor}">
      <circle class="bg" cx="70" cy="100" r="40" />
      <circle class="meter" cx="70" cy="100" r="40" />

    </svg>

    <div class="card__rigth__number">

      <p> {{
        data.temperatura !== null && data.temperatura !== undefined ? calcularPorcentaje(data.temperatura, 100) :
        data.humedad !== null && data.humedad !== undefined ? calcularPorcentaje(data.humedad, 100) :
        data.temperaturaIn !== null && data.temperaturaIn !== undefined ? calcularPorcentaje(data.temperaturaIn, 100) :
        data.corriente !== null && data.corriente !== undefined ? calcularPorcentaje(data.corriente, 30) :
        data.voltaje !== null && data.voltaje !== undefined ? calcularPorcentaje(data.voltaje, 25) :
        data.irradiacionPatron !== null && data.irradiacionPatron !== undefined ? calcularPorcentaje(data.irradiacionPatron , 1500) :
        data.irradiacionProto !== null && data.irradiacionProto !== undefined ? calcularPorcentaje(data.irradiacionProto , 1500) :
        data.irradiacionPanel !== null && data.irradiacionPanel !== undefined ? calcularPorcentaje(data.irradiacionPanel , 1500) :
        ''}} %
      </p>

    </div>

  </div>

</div>








<!-- <div class="card__rigth">
  <svg viewBox="0 0 100 100">

    <circle class="bg" cx="50" cy="50" r="40" />

    <circle class="meter" cx="50" cy="50" r="40" />
  </svg>
  <div class="card__rigth__number">
    <p>40%</p>
  </div>
</div> -->
