<div class="comparacion-irradiancia">

  <div class="comparacion-irradiancia__left">

    <!-- Irradiancia prototipo -->
    <app-card [data]="{
      titulo: 'Irradiancia prototipo',
      stroke:'blue',
      irradiacionProto:irradiacionProto,
      unidad: 'W/m²',
      svg:'light_mode',
      myColor: '#ffbb55'
      }">
    </app-card>

    <!-- Irradiancia panel -->
    <app-card [data]="{
      titulo: 'Irradiancia panel',
      stroke:'blue',
      irradiacionPanel:irradiacionPanel,
      unidad: 'W/m²',
      svg:'light_mode',
      myColor: '#ffbb55'}">
    </app-card>

  </div>
  <!-- <div class="comparacion-irradiancia__left">
  </div> -->

  <div class="comparacion-irradiancia__rigth">
    <app-grafic></app-grafic>
  </div>


</div>
