@use "../../../../public/styles.scss";

*{
  margin: 0;
  padding: 0;
  outline: 0; // elimina el contorno (o borde) que aparece alrededor de un elemento cuando está enfocado
  appearance: none; // le estás diciendo al navegador que no utilice los estilos predeterminados para ese elemento Se usa comúnmente en elementos como input, select, button, etc.
  border: 0;
  text-decoration: none; //  se usa para eliminar cualquier estilo de decoración de texto predeterminado, como subrayado, tachado o sobrelineado
  list-style: none; // Se utiliza para eliminar los puntos o los números que se muestran por defecto al usar <ul> o <ol>
  box-sizing: border-box;
}

.comparacion-irradiancia{
  display: flex;
  // grid-template-columns: 20% 80%;
  // justify-content: ;
  justify-content: space-around;
  // align-items: center;
  width: 100%;
}

.comparacion-irradiancia__left {
  width: 20%;
  height: 470px;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  // gap: 20px;
  // align-items: baseline;
  // justify-items: end;
}

.comparacion-irradiancia .comparacion-irradiancia__rigth {
  width: 900px;
  height: 470px;
  background-color: styles.$color-white;
  border-radius: styles.$card-border-radius;
  box-shadow: styles.$box-shadow;
  transition: all 300ms ease;
  margin-top: 20px;
}

// .comparacion-irradiancia__rigth:hover {
//   box-shadow: none;
// }

