<div class="comparacion-irradiancia">

  <div class="comparacion-irradiancia__left">
    <app-card [data]="{titulo: 'Irradiancia prototipo', stroke:'blue', temperatura:temperatura, svg:'light_mode', myColor: '#ffbb55'}"></app-card>
    <app-card [data]="{titulo: 'Irradiancia panel', stroke:'blue', temperatura:temperatura, svg:'light_mode', myColor: '#ffbb55'}"></app-card>
  </div>
  <!-- <div class="comparacion-irradiancia__left">
  </div> -->

  <div class="comparacion-irradiancia__rigth">
    <app-grafic></app-grafic>
  </div>


</div>
