<div class="historial-ambientales">

  <div class="l-grid">
    <div class="l-grid__item">
      <button class="c-button" data-button="red"><i class="c-button__icon" data-feather="moon"></i><span class="c-button__label">15</span></button>
    </div>
    <div class="l-grid__item">
      <button class="c-button" data-button="blue"><i class="c-button__icon" data-feather="bell"></i><span class="c-button__label">30</span></button>
    </div>
    <div class="l-grid__item">
      <button class="c-button" data-button="green"><i class="c-button__icon" data-feather="bar-chart"></i><span class="c-button__label">45</span></button>
    </div>
    <div class="l-grid__item">
      <button class="c-button" data-button="orange"><i class="c-button__icon" data-feather="wifi"></i><span class="c-button__label">60</span></button>
    </div>
    <div class="l-grid__item">
      <button class="c-button" data-button="yellow"><i class="c-button__icon" data-feather="alert-circle"></i><span class="c-button__label">Detener</span></button>
    </div>
    <div class="l-grid__item">
      <button class="c-button" data-button="teal"><i class="c-button__icon" data-feather="power"></i><span class="c-button__label">75</span></button>
    </div>

  </div>

</div>
