@use "../../public/styles.scss";

.panel{
  display: grid;
  width: 98%;
  height: 100%;
  margin: 0;
  border: 0;
  padding: 0;
  gap: 0.5rem;
  grid-template-rows: 10vh auto 25vh;
}


main{
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
}

h1 {
  color: white;
  margin-left: 9px;
}

.panel-bottom {
  display: grid;
  justify-items: end;
  grid-template-columns: 784px auto;
  // justify-content: end;
  // justify-items: center;
  // display: flex;
  // justify-content: end;
  :nth-child(2){
    // justify-items: center;
    visibility: visible;
    justify-content: end;
    position: relative;
    top: -192px;
  }
}

app-grafic{
  // width: 521px;
  width: 530px;
}

// .panel-bottom-left{
//   width: 784px;
//   background-color: green;
// }

// .panel-bottom-right{
//   width: auto;
// }

.filtros{
  display: flex;
  justify-content: start;
  font-size: 1.2rem;
  height: 100%;
}

.filtros div{
  margin: 5px; /* Separación entre los botones */
  height: 35px;
  justify-content: center;
  align-items: center;
  display: inline-flex; /* Permite que el ancho se ajuste al contenido, ya que No ocupa el ancho completo de su contenedor padre, solo el necesario. */
}

.filtros div:first-child{
  margin-left: 0;
}

.filtros div:last-child{
  margin-right: 0;
}

.filtros div button{
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #E8E8E8;
  padding: 0px 10px; /* Espaciado interno para hacerlo más grande */
  border-radius: 1rem;
  border: none;
  outline: none; /* Elimina el borde del enfoque */
  width: 100%;
  height: 100%;
  font-family:  'poppins', sans-serif;
  font-size: 12px;
  cursor: pointer;
}

.filtros div button p {
  color: styles.$color-dark;
}

.filtros div button:hover {
  background-color: #E1E1E1;
}

app-home{
  margin-top: 25px;
}
app-electrico{
  margin-top: 25px;
}
app-ambientales{
  margin-top: 25px;
}
app-historial-ambientales{
  margin-top: 25px;
}
