@use "../../public/styles.scss";

.panel{
  display: grid;
  width: 96%;
  height: 100%;
  margin: 0;
  border: 0;
  padding: 0;
  gap: 0.5rem;
  grid-template-rows: 8vh 8vh auto;
}


main{
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.filtros{
  display: flex;
  justify-content: space-between;
  font-size: 1.2rem;
  height: 100%;
}

.filtros div{
  margin: 5px; /* Separación entre los botones */
  height: 35px;
  justify-content: center;
  align-items: center;
  display: inline-flex; /* Permite que el ancho se ajuste al contenido, ya que No ocupa el ancho completo de su contenedor padre, solo el necesario. */
}

.filtros div button{
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #E8E8E8;
  padding: 0px 10px; /* Espaciado interno para hacerlo más grande */
  border-radius: 1rem;
  border: none;
  outline: none; /* Elimina el borde del enfoque */
  width: 100%;
  height: 100%;
  font-family:  'poppins', sans-serif;
  font-size: 12px;
  cursor: pointer;
}

.filtros div button p {
  color: styles.$color-dark;
}

.filtros div button:hover {
  background-color: #E1E1E1;
}

app-home{
  margin-top: 25px;
}
