<!-- <router-outlet /> -->


<main>

  <div class="panel">

    <!-- SECCION DE TITULO PRINCIPAL -->
    <div class="titulo">
      <h1>Panel de parámetros</h1>
    </div>

    <!-- SECCION DE FILTROS PARA VISUALIZACION -->
    <div class="filtros">

      <div>
        <button (click)="showComponent('home')">
          <p>Home</p>
        </button>
      </div>

      <div>
        <button (click)="showComponent('ambientales')">
          <p>Parámetros ambientales</p>
        </button>
      </div>

      <div>
        <button (click)="showComponent('electricos')">
          <p>
            Parámetros eléctricos
          </p>
        </button>
      </div>

      <div>
        <button (click)="showComponent('historialAmbientales')">
          <p>
            Historial de parámetros ambientales
          </p>
        </button>
      </div>

      <div>
        <button (click)="showComponent('historialElectricos')">
          <p>
            Historial de parámetros eléctricos
          </p>
        </button>
      </div>

      <div>
        <button (click)="showComponent('comparacionIrradiancia')">
          <p>
            Comparación de irradiancia
          </p>
        </button>
      </div>
      <div>
        <button (click)="showComponent('intervaloMuestreo')">
          <p>
            Intervalo de muestreo
          </p>
        </button>
      </div>

    </div>

    <!-- SECCION AL SELECCIONAR FILTRO -->

    <!-- <app-home></app-home> -->
    <app-home *ngIf="activeComponent === 'home'"></app-home>

    <app-comparacion-irradiancia *ngIf="activeComponent === 'comparacionIrradiancia'"></app-comparacion-irradiancia>

    <app-historial-ambientales *ngIf="activeComponent === 'historialAmbientales'"></app-historial-ambientales>
    <!-- Agrega otros componentes según sea necesario -->


  </div>

</main>
