<!-- <router-outlet /> -->


<main>

  <div class="panel">

    <!--------------------------------------------------------------------------------------------------------------------------->

    <!-- SECCION DE TITULO PRINCIPAL -->
    <div class="titulo">
      <h1>Panel de parámetros</h1>
    </div>

    <!--------------------------------------------------------------------------------------------------------------------------->

    <!-- SECCION DE FILTROS PARA VISUALIZACION -->
    <div class="filtros">

      <div>
        <button>
          <p>Home</p>
        </button>
      </div>

      <div>
        <button>
          <p>Parámetros ambientales</p>
        </button>
      </div>

      <div>
        <button>
          <p>
            Parámetros eléctricos
          </p>
        </button>
      </div>

      <div>
        <button>
          <p>
            Historial de parámetros ambientales
          </p>
        </button>
      </div>

      <div>
        <button>
          <p>
            Historial de parámetros eléctricos
          </p>
        </button>
      </div>

      <div>
        <button>
          <p>
            Comparación de irradiancia
          </p>
        </button>
      </div>
      <div>
        <button>
          <p>
            Intervalo de muestreo
          </p>
        </button>
      </div>

    </div>

    <!--------------------------------------------------------------------------------------------------------------------------->

    <!-- SECCION AL SELECCIONAR FILTRO -->
    <app-home></app-home>

    <!--------------------------------------------------------------------------------------------------------------------------->

  </div>

</main>
