// ESTILO DE GRAFICOS DE ANALISIS

@use "../../../../public/styles.scss";

// ----------------------------

canvas#grafic{
  background-color: styles.$color-white;
  max-width: 100%;
  max-height: 100%;
  border-radius: styles.$card-border-radius;
  padding: styles.$card-padding;
  font-size: styles.$main-font;
}

