<div *ngIf="data.length > 0; else noData">
  <h2>Datos desde Google Sheets</h2>
  <table>
    <thead>
      <tr>
        <th>Fecha</th>
        <th>Temperatura</th>
        <th>Humedad</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of data">
        <td>{{ item[0] }}</td> <!-- Suponiendo que la primera columna es la fecha -->
        <td>{{ item[1] }}</td> <!-- Suponiendo que la segunda columna es la temperatura -->
        <td>{{ item[2] }}</td> <!-- Suponiendo que la tercera columna es la humedad -->
      </tr>
    </tbody>
  </table>

  <!-- Barra de Progreso Circular para la última temperatura -->
  <!-- <div class="progress-container">
    <h3>Temperatura Actual</h3>
    <app-progress-circle [temperature]="data[data.length - 1][1]"></app-progress-circle>
  </div> -->
</div>

<ng-template #noData>
  <p>No hay datos disponibles.</p>
</ng-template>



<!-- Ejemplo barra sencillo -->
<app-barra-circular></app-barra-circular>
