<div  class="home">

  <div class="home__top">
    <app-card [data]="{titulo: 'Temperatura', stroke:'blue', temperatura:temperatura, svg:'thermometer', myColor: '#ff7782'}"></app-card>
    <app-card [data]="{titulo: 'Humedad Ambiental', stroke:'blue', humedad:humedad, svg:'water_drop', myColor: '#41f1b6'}"></app-card>
    <app-card [data]="{titulo: 'Temperatura interna', stroke:'blue', temperatura:temperatura, svg:'thermometer', myColor: '#ff7782'}"></app-card>
    <app-card [data]="{titulo: 'Corriente panel', stroke:'blue', temperatura:temperatura, svg:'bolt', myColor: '#7380ec'}"></app-card>
  </div>
  <div class="home__bottom">
    <app-card [data]="{titulo: 'Voltaje panel', stroke:'blue', temperatura:temperatura, svg:'bolt', myColor: '#7380ec'}"></app-card>
    <app-card [data]="{titulo: 'Irradiancia patrón', stroke:'blue', temperatura:temperatura, svg:'light_mode', myColor: '#ffbb55'}"></app-card>
    <app-card [data]="{titulo: 'Irradiancia prototipo', stroke:'blue', temperatura:temperatura, svg:'light_mode', myColor: '#ffbb55'}"></app-card>
    <app-card [data]="{titulo: 'Irradiancia panel', stroke:'blue', temperatura:temperatura, svg:'light_mode', myColor: '#ffbb55'}"></app-card>
  </div>
  <!-- <div class="home__bottom">
    <app-card [temperature]="temperature"></app-card>
  </div> -->
  <!-- <div *ngIf="data.length > 0; else noData">
    <table>
      <thead>
        <tr>
          <th *ngFor="let header of data[0]">{{ header }}</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let row of data.slice(1)">
          <td *ngFor="let cell of row">{{ cell }}</td>
        </tr>
      </tbody>
    </table>
  </div>

  <ng-template #noData>
    <p>No hay datos disponibles.</p>
  </ng-template> -->

</div>
