@use "../../../../public/styles.scss";

*{
  margin: 0;
  padding: 0;
  outline: 0; // elimina el contorno (o borde) que aparece alrededor de un elemento cuando está enfocado
  appearance: none; // le estás diciendo al navegador que no utilice los estilos predeterminados para ese elemento Se usa comúnmente en elementos como input, select, button, etc.
  border: 0;
  text-decoration: none; //  se usa para eliminar cualquier estilo de decoración de texto predeterminado, como subrayado, tachado o sobrelineado
  list-style: none; // Se utiliza para eliminar los puntos o los números que se muestran por defecto al usar <ul> o <ol>
  box-sizing: border-box;
}

.home{
  display: grid;
  grid-template-rows: 0.3fr 0.5fr;
  gap: 25px;
  // justify-content: space-evenly;
  width: 100%;
  height: 100%;
}

.home__top{
  display: grid;
  // position: absolute;
  // justify-content:space-between;
  // gap: 28px;
   /* El primer y último contenedor tienen un tamaño fijo, los intermedios se reparten el espacio */
  justify-items: center; /* Asegura que los elementos se estiren para ocupar todo el espacio disponible */
  // flex-direction: column;
  width: 100%; /* Asegura que el contenedor ocupe todo el ancho disponible */
  grid-template-columns: auto auto;
  // visibility: hidden;

}

.home__top__left{
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 5px;
}
.home__top__right{
  display: grid;
  grid-template-columns: 50% 50%;
  gap: 5px;
  :nth-child(1){
    position: relative;
    // top: -200px;
    top: 147px;
    // left: 10px;
    // right: -200;
    border-radius: styles.$card-border-radius;
    height: 135px;
  }
  :nth-child(2){
    position: relative;
    // top: -200px;
    // top: -383px;
    top: 147px;

    // left: 10px;
    // right: -200;
    border-radius: styles.$card-border-radius;
    height: 135px;
  }
}


.home__bottom{
  display: flex;
  justify-content: start;
  gap: 5px;
  margin-left: 9px;
  justify-items: center; /* Asegura que los elementos se estiren para ocupar todo el espacio disponible */

  // visibility: hidden;


}
app-card{
  width: 258px;
  display: flex;
  justify-content: center;
}
