<div class="intervalos">

  <div class="intervalos__top">
    <h3>
      Intervalo de toma de datos
    </h3>
    <div></div>
  </div>

  <div class="intervalos__buttom">

    <div class="content">
      <div class="content">
        <button> 10 min
        </button>
      </div>
    </div>

    <div class="content">
      <div class="content">
        <button> 15 min
        </button>
      </div>
    </div>

    <div class="content">
      <div class="content">
        <button> 20 min
        </button>
      </div>
    </div>

    <div class="content">
      <div class="content">
        <button> 25 min
        </button>
      </div>
    </div>

    <div class="content">
      <div class="content">
        <button> 40 min
        </button>
      </div>
    </div>

    <div class="content">
      <div class="content">
        <button> Apagado
        </button>
      </div>
    </div>

  </div>


</div>
